<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>ProjectPlusButton</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">ProjectPlusButton</td></tr>
</thead><tbody>
<!--SCRIPT-->
<tr>
	<td>label</td>
	<td>START</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>${ProjectButtonPlus}</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>${ProjectButtonPlus}</td>
	<td></td>
</tr>
<!--New Event-->
<tr>
	<td>waitForElementPresent</td>
	<td>${ProjectPlusNewEvent}</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>${ProjectPlusNewEvent}</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>${ModalGenericBody}</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>${ModalGenericTitle}</td>
	<td>Event</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${ModalGenericDatepickerField}</td>
	<td></td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>${ModalGenericDatepickerField}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${ModalGenericDatepickerIcon}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${ModalEventSelectTypeField}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${ModalEventInfoField}</td>
	<td></td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>${ModalEventInfoField}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${ModalGenericSaveButton}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${ModalGenericCancelButton}</td>
	<td></td>
</tr>
<!--Validation-->
<tr>
	<td>type</td>
	<td>${ModalEventInfoField}</td>
	<td>New Event</td>
</tr>
<tr>
	<td>click</td>
	<td>${ModalGenericSaveButton}</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>${ModalGenericErrorMsg}</td>
	<td>This field is required.</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//*[@class='help-block error'][contains(.,'This field is required.')]</td>
	<td>This field is required.</td>
</tr>
<tr>
	<td>click</td>
	<td>${ModalEventSelectTypeField}</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>link=Application Filed</td>
	<td>Application Filed</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>link=Application published</td>
	<td>Application published</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>link=Sub Matter Created</td>
	<td>Sub Matter Created</td>
</tr>
<tr>
	<td>click</td>
	<td>link=Application Filed</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>${ModalGenericSaveButton}</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>${ModalGenericErrorMsg}</td>
	<td>This field is required.</td>
</tr>
<tr>
	<td>click</td>
	<td>${ModalGenericDatepickerField}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${DatepickerToday}</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>${DatepickerToday}</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>${ModalGenericSaveButton}</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementNotPresent</td>
	<td>${ModalGenericBody}</td>
	<td></td>
</tr>
<!--Check results-->
<tr>
	<td>waitForText</td>
	<td>link=Application Filed</td>
	<td>Application Filed</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>link=Application Filed</td>
	<td>Application Filed</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${TimelineDeleteEvent}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${TimelineEditEvent}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${TimelineCheckboxLessImportant}</td>
	<td></td>
</tr>
<tr>
	<td>verifyNotChecked</td>
	<td>${TimelineCheckboxLessImportant}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${TimelineCheckboxAutoPopulated}</td>
	<td></td>
</tr>
<tr>
	<td>verifyChecked</td>
	<td>${TimelineCheckboxAutoPopulated}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${TimelineCheckboxManuallyAdded}</td>
	<td></td>
</tr>
<tr>
	<td>verifyChecked</td>
	<td>${TimelineCheckboxManuallyAdded}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${TimelineCheckboxShrinkedEventsView}</td>
	<td></td>
</tr>
<tr>
	<td>verifyChecked</td>
	<td>${TimelineCheckboxShrinkedEventsView}</td>
	<td></td>
</tr>
<!--Check Timeline-->
<tr>
	<td>click</td>
	<td>${TimelineCheckboxLessImportant}</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>link=Sub Matter Created</td>
	<td>Sub Matter Created</td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>link=Sub Matter Created</td>
	<td>Sub Matter Created</td>
</tr>
<tr>
	<td>click</td>
	<td>${TimelineCheckboxLessImportant}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementNotPresent</td>
	<td>link=Sub Matter Created</td>
	<td>Sub Matter Created</td>
</tr>
<tr>
	<td>click</td>
	<td>${TimelineCheckboxAutoPopulated}</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>${TimelineCheckboxManuallyAdded}</td>
	<td></td>
</tr>
<tr>
	<td>verifyNotVisible</td>
	<td>id=timeline</td>
	<td></td>
</tr>
<!---->
<!--New Conversation-->
<tr>
	<td>waitForElementPresent</td>
	<td>${ProjectPlusNewConversation}</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>${ProjectPlusNewConversation}</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>${ModalGenericBody}</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>${ModalGenericTitle}</td>
	<td>New Conversation</td>
</tr>
<tr>
	<td>waitForValue</td>
	<td>//div/div[2]/input</td>
	<td></td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>name=subject</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>name=subject</td>
	<td>New Conversation</td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>xpath=(//input[@placeholder='Type Name or E-mail...'])</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${ModalNewConversationCreatelButton}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${ModalNewConversationCancellButton}</td>
	<td></td>
</tr>
<tr>
	<td>verifyElementPresent</td>
	<td>${ModalGenericSpecificTeam}</td>
	<td></td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>${ModalCheckboxPermissionAllTeams}</td>
	<td>off</td>
</tr>
<tr>
	<td>click</td>
	<td>${ModalCheckboxPermissionAllTeams}</td>
	<td></td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>${ModalCheckboxPermissionAllTeams}</td>
	<td>on</td>
</tr>
<tr>
	<td>waitForElementNotPresent</td>
	<td>${ModalGenericSpecificTeam}</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>${ModalNewConversationCreatelButton}</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementNotPresent</td>
	<td>${ModalGenericBody}</td>
	<td></td>
</tr>
<!--Check results-->
<!---->
<!---->
<!--New Task-->
<tr>
	<td>waitForElementPresent</td>
	<td>${ProjectPlusNewTask}</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>${ProjectPlusNewTask}</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>${ModalGenericBody}</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>${ModalGenericTitle}</td>
	<td>Add new task</td>
</tr>
<tr>
	<td>click</td>
	<td>${ModalGenericCrossButoon}</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementNotPresent</td>
	<td>${ModalGenericBody}</td>
	<td></td>
</tr>
<!---->
<!--New Document-->
<tr>
	<td>waitForElementPresent</td>
	<td>${ProjectPlusNewDocument}</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>${ProjectPlusNewDocument}</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>${ModalGenericBody}</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>${ModalGenericTitle}</td>
	<td>Files upload</td>
</tr>
<tr>
	<td>click</td>
	<td>${ModalNewDocumentCancellButton}</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementNotPresent</td>
	<td>${ModalGenericBody}</td>
	<td></td>
</tr>
<!---->
<!---->
<!--New Financial-->
<tr>
	<td>waitForElementPresent</td>
	<td>${ProjectPlusNewFinancial}</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>${ProjectPlusNewFinancial}</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>${ModalGenericBody}</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>${ModalGenericTitle}</td>
	<td>Add new financial</td>
</tr>
<tr>
	<td>click</td>
	<td>${ModalNewDocumentCancellButton}</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementNotPresent</td>
	<td>${ModalGenericBody}</td>
	<td></td>
</tr>
<!---->
<!---->
<!--New Number-->
<tr>
	<td>waitForElementPresent</td>
	<td>${ProjectPlusNewNumber}</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>${ProjectPlusNewNumber}</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>${ModalGenericBody}</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>${ModalGenericTitle}</td>
	<td>Number</td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>name=reference_number</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>name=reference_number</td>
	<td>1234567890</td>
</tr>
<tr>
	<td>click</td>
	<td>${ModalGenericOkButton}</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>${ModalGenericErrorMsg}</td>
	<td>This field is required.</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>${ModalGenericErrorMsg}</td>
	<td>This field is required.</td>
</tr>
<tr>
	<td>type</td>
	<td>name=reference_number</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>${ModalEventSelectTypeField}</td>
	<td>Select number type</td>
</tr>
<tr>
	<td>click</td>
	<td>${ModalEventSelectTypeField}</td>
	<td>Select number type</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>link=Application Number</td>
	<td>Application Number</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>link=Equinox code</td>
	<td>Equinox code</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>link=Historical code</td>
	<td>Historical code</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>link=Application Filed</td>
	<td>Application Filed</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>link=Reference Number</td>
	<td>Reference Number</td>
</tr>
<tr>
	<td>click</td>
	<td>link=Reference Number</td>
	<td>Reference Number</td>
</tr>
<tr>
	<td>click</td>
	<td>${ModalGenericOkButton}</td>
	<td></td>
</tr>
<tr>
	<td>waitForText</td>
	<td>${ModalGenericErrorMsg}</td>
	<td>This field may not be blank.</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>${ModalGenericErrorMsg}</td>
	<td>This field may not be blank.</td>
</tr>
<tr>
	<td>type</td>
	<td>name=reference_number</td>
	<td>1234567890</td>
</tr>
<tr>
	<td>click</td>
	<td>${ModalGenericOkButton}</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementNotPresent</td>
	<td>${ModalGenericBody}</td>
	<td></td>
</tr>
<!---->
<!---->
<!--New Contact-->
<!--Modal "Contact Book"-->
<tr>
	<td>storeExpression</td>
	<td></td>
	<td>ModalBookAddAs</td>
</tr>
<tr>
	<td>storeExpression</td>
	<td>name=full_name</td>
	<td>ModalBookNameField</td>
</tr>
<tr>
	<td>storeExpression</td>
	<td>name=type</td>
	<td>ModalBookSelectContactType</td>
</tr>
<tr>
	<td>storeExpression</td>
	<td>//*[@ng-model='filters.company']</td>
	<td>ModalBookSelectCompany</td>
</tr>
<tr>
	<td>storeExpression</td>
	<td>//*[@ng-click='addNewContact()']</td>
	<td>ModalBookAddNewContactButton</td>
</tr>
<tr>
	<td>storeExpression</td>
	<td></td>
	<td>ModalBook</td>
</tr>
<tr>
	<td>storeExpression</td>
	<td></td>
	<td>ModalBook</td>
</tr>
<tr>
	<td>storeExpression</td>
	<td></td>
	<td>ModalBook</td>
</tr>
<tr>
	<td>storeExpression</td>
	<td></td>
	<td>ModalBook</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>${ProjectPlusNewContact}</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>${ProjectPlusNewContact}</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>${ModalGenericBody}</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>${ModalGenericTitle}</td>
	<td>Contact Book</td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>${ModalBookNameField}</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>${ModalBookSelectContactType}</td>
	<td>Any Type Person Company</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>${ModalBookSelectCompany}</td>
	<td>Any company</td>
</tr>
<tr>
	<td>click</td>
	<td>//select[@name='type']</td>
	<td>Any Type Person Company</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//option[@value='']</td>
	<td>Any Type</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//option[@value='Person']</td>
	<td>Person</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//option[@value='Company']</td>
	<td>Company</td>
</tr>
<tr>
	<td>verifyText</td>
	<td>${ModalBookSelectCompany}</td>
	<td>Any company</td>
</tr>
<!--Add Contact Modal-->
<tr>
	<td>waitForElementPresent</td>
	<td>${ModalBookAddNewContactButton}</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>${ModalBookAddNewContactButton}</td>
	<td></td>
</tr>
<tr>
	<td>verifyText</td>
	<td>//*[@class='modal-title'][contains(.,'Contact Relation')]</td>
	<td>Contact Relation</td>
</tr>
<tr>
	<td>assertText</td>
	<td>css=div.form-group.col-md-4 &gt; label</td>
	<td>exact:Relation*</td>
</tr>
<tr>
	<td>assertText</td>
	<td>css=div.form-group.col-md-8 &gt; label</td>
	<td>Ownership percentage</td>
</tr>
<tr>
	<td>assertText</td>
	<td>css=pkm-contact-fields.ng-isolate-scope &gt; div.row &gt; div.form-group.col-md-4 &gt; label</td>
	<td>Type</td>
</tr>
<tr>
	<td>assertText</td>
	<td>name=contact.type</td>
	<td>Person Company</td>
</tr>
<tr>
	<td>assertText</td>
	<td>css=pkm-contact-fields.ng-isolate-scope &gt; div.row &gt; div.form-group.col-md-8 &gt; label</td>
	<td>exact:Legal Entity*</td>
</tr>
<tr>
	<td>assertText</td>
	<td>css=div.form-group.col-sm-6 &gt; label</td>
	<td>exact:First Name*</td>
</tr>
<tr>
	<td>assertText</td>
	<td>//pkm-contact-fields/div[2]/div[2]/label</td>
	<td>exact:Last Name*</td>
</tr>
<tr>
	<td>waitForText</td>
	<td>css=div.form-group.col-sm-12 &gt; label</td>
	<td>Company</td>
</tr>
<tr>
	<td>assertText</td>
	<td>css=div.form-group.col-sm-12 &gt; label</td>
	<td>Company</td>
</tr>
<tr>
	<td>assertText</td>
	<td>//div[3]/div/div/div/span</td>
	<td>---</td>
</tr>
<tr>
	<td>assertText</td>
	<td>css=div.form-group.col-md-6 &gt; label</td>
	<td>Email</td>
</tr>
<tr>
	<td>assertText</td>
	<td>//div[4]/div[2]/label</td>
	<td>Phone #</td>
</tr>
<tr>
	<td>assertText</td>
	<td>//div[5]/div/label</td>
	<td>Fax #</td>
</tr>
<tr>
	<td>assertText</td>
	<td>//div[5]/div[2]/label</td>
	<td>Mobile #</td>
</tr>
<tr>
	<td>assertText</td>
	<td>//div[6]/div/label</td>
	<td>Street Address</td>
</tr>
<tr>
	<td>assertText</td>
	<td>//div[6]/div[2]/label</td>
	<td>Postal Code</td>
</tr>
<tr>
	<td>assertText</td>
	<td>//div[7]/div/label</td>
	<td>City</td>
</tr>
<tr>
	<td>assertText</td>
	<td>//div[7]/div[2]/label</td>
	<td>State/Region</td>
</tr>
<tr>
	<td>assertText</td>
	<td>//div[3]/label</td>
	<td>Country</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>css=button.btn.btn-secondary</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>css=button.btn.btn-secondary</td>
	<td></td>
</tr>
<!--Pages in Contact book-->
<tr>
	<td>waitForElementPresent</td>
	<td>link=2</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>link=2</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>//div[3]/nav/ul/li/a/i</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//div[3]/nav/ul/li/a/i</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>css=button.close</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>css=button.close</td>
	<td></td>
</tr>
<!--Finish-->
<tr>
	<td>waitForElementNotPresent</td>
	<td>${ModalGenericBody}</td>
	<td></td>
</tr>
<tr>
	<td>label</td>
	<td>END</td>
	<td></td>
</tr>
</tbody></table>
</body>
</html>
