<suite name="Community" parallel="classes" thread-count="2">
       <test name="Test" >
            <classes>
                <class name="Tests.TestsCommunity.TestsCommunityGuestFlow"  />
                <class name="Tests.TestsCommunity.TestsCommunityJoin"  />
                <class name="Tests.TestsCommunity.TestsCommunityLogin"  />
                <class name="Tests.TestsCommunity.TestsCommunityResetPassword"  />
            </classes>
       </test>
</suite>

